<!DOCTYPE html>


<html lang="en">
  <body>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4"><img src="<%= asset_path 'eat' %>" width="210" height="65" alt=""  style="margin-top: 150px;"></h1>
         	
					
        </div>
        <!-- /.col-lg-3 -->
        
        
    <section id="slider">
		<div id="home-carousel" class="carousel slide" data-ride="carousel">			
			<div class="carousel-inner" >
				<div class="item active" style="background-image: url(<%= asset_path 'food1' %>) ">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
							  <!--<h1>광화문 광장</h1>-->
								<h2>명동교자</h2>
								<p> (서울 중구 명동10길 29)</p><tr>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food2' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>구스토타코</h2>
								<p> (서울특별시 마포구 와우산로 41)</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food3' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>무교동 북어국집</h2>
								<p> (서울특별시 중구 을지로1길 38)</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food4' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>백제삼계탕</h2>
								<p> (서울 중구 명동8길 8-10)</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food5' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>고궁</h2>
								<p> (서울 종로구 인사동길 44)</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food6' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>팔색삼겹살</h2>
								<p> (서울특별시 마포구 백범로 18)</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food7' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>아리랑</h2>
								<p> (서울 중구 남대문로7길 23)</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food8' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>프로간장게장</h2>
								<p> (서울 서초구 강남대로97길 9)</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food9' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>통인시장</h2>
								<p> (서울 종로구 자하문로15길 18)</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(<%= asset_path 'food10' %>)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h2>삼청동 수제비</h2>
								<p> (서울특별시 종로구 삼청로 101-1)</p>
							</div>
						</div>
					</div>					
				</div>
				<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>		
		</div> <!--/#home-carousel--> 
		<div class="container-fluid ">
			
		
          <div class="row">
         <% @infos.each do |info| %>
          <% if info.category == "food" %>
            <div class="col-lg-4 col-md-6 mb-4" style="padding-top: 50px;">
              <div class="card h-100">
               
                <a href="/infos/food_info_show/<%= info.id %>"><img class="card-img-top" src="<%= info.img %>" width="350" height="250" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"><%= info.title %></a>
                  </h4>
                  <h5><%= info.addr %></h5>
                </div>
                
                <% if user_signed_in? %>
                 <div class="card-footer">
                    <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
                    <!--<%= info.likes.size %> 명이 좋아합니다.-->
                    <% if current_user.is_like?(info) %>
                      <%= link_to image_tag("like2.gif" , :size => "150x40"), info_like_path(info), method: "post" , data:{confirm: '즐겨찾기 해제되었습니다.'} %>
                    <% else %>
                      <%= link_to image_tag("unlike2.gif" , :size => "150x40"), info_like_path(info), method: "post", data:{confirm: '즐겨찾기에 추가되었습니다.'} %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        
        


          </div>
          <!-- /.row -->
           

        </div>
        <!-- /.col-lg-9 -->
        
       
          <%= will_paginate @posts, :previous_label => image_tag("arrow-left.png"), :next_label => image_tag("arrow-right.png"), :class=>"small-font", :style => "font-size: 20px; text-align: center; margin-top: 50px;"; %>

			 </div>

      </div>
      <!-- /.row -->
     

    </div>
    <!-- /.container -->

  

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
